{
  "id_message":"[% message.id_message %]",
  "id_queue":"[% message.id_queue %]",
  "queue":"[% message.queue.name %]",
  "sender":"[% message.sender %]",
  "body":"[% message.message %]",
  "date":"[% message.date %]",
  "under_action":"[% message.under_action %]",
  "action_date":"[% message.action_date %]"
}