<message>
  <id_message>[% message.id_message %]</id_message>
  <id_queue>[% message.id_queue %]</id_queue>
  <queue>[% message.queue.name %]</queue>
  <sender>[% message.sender %]</sender>
  <body>[% message.message %]</body>
  <date>[% message.body %]</date>
  <under_action>[% message.under_action %]</under_action>
  <action_date>[% message.action_date %]</action_date>
</message>
