
<h2>message </h2>
message updated ok. Click <a href="[% SCRIPT_NAME %]/message/[% model.id_message %]">here</a> to continue.
<script type="text/javascript">
 document.location.href="[% SCRIPT_NAME %]/message/[% model.id_message %]";
</script>
 
