[% IF model.body %]<h2>Message Updated</h2>
Message updated ok. Click <a href="[% SCRIPT_NAME %]/message/[% model.id_message %]">here</a> to continue.
<script type="text/javascript">
 document.location.href="[% SCRIPT_NAME %]/message/[% model.id_message %]";
</script>[% ELSE %][% PROCESS message_delete.tt2 %][% END %]
