<?xml version="1.0" encoding="utf-8"?>
<queue id_queue="[% model.id_queue %]" name="[% model.name %]">
  <name>[% model.name %]</name>
  <messages>[% FOREACH message = model.messages %]
    [% PROCESS message_json_row.tt2 %][% END %]
  </messages>
</queue>