<h2>Queue</h2>
Queue [% model.name %] saved ok. Click <a href="[% SCRIPT_NAME %]/queue/[% model.id_queue %]">here</a> to continue.
<script type="text/javascript">
 document.location.href="[% SCRIPT_NAME %]/queue/[% model.id_queue %]";
</script>
 
